<!--
id: number;
name: string;
type: string;
photo: string;
length: number;
work_description: string;
arrival_date: string;
delivery_date: string;
status: string;
-->

<div *ngIf="boat">
  <h2>{{boat.name}} details!</h2>
  <div class="form-group">
    <div>
      <label>id: </label>{{boat.id}}
    </div>
    <div>
      <label>name: </label>
      <input class="form-control" [readonly]="readonly" [(ngModel)]="boat.name" placeholder="name"/>
    </div>
    <div>
      <label>type: </label>
      <input class="form-control" [readonly]="readonly" [(ngModel)]="boat.type" placeholder="name"/>
    </div>
    <div>
      <label>photo: </label>
      <img [src]="boat.photo" class="img-responsive img-rounded" [alt]="boat.name">
      <input class="form-control" [readonly]="readonly" [(ngModel)]="boat.photo" placeholder="name"/>
    </div>
    <div>
      <label>length: </label>
      <input class="form-control" [readonly]="readonly" [(ngModel)]="boat.length" placeholder="name"/>
    </div>
    <div>
      <label>work_description: </label>
      <input class="form-control" [readonly]="readonly" [(ngModel)]="boat.work_description" placeholder="name"/>
    </div>
    <div>
      <label>arrival_date: </label>
      <input class="form-control" [readonly]="readonly" [(ngModel)]="boat.arrival_date" placeholder="name"/>
    </div>
    <div>
      <label>delivery_date: </label>
      <input class="form-control" [readonly]="readonly" [(ngModel)]="boat.delivery_date" placeholder="name"/>
    </div>
    <div>
      <label>status: </label>
      <input class="form-control" [readonly]="readonly" [(ngModel)]="boat.status" placeholder="name"/>
    </div>
  </div>
</div>
<div *ngIf="readonly">
  <button class="btn btn-primary" (click)="goBack()">Back</button>
  <button class="btn btn-primary" (click)="edit()">Edit</button>
</div>
<div *ngIf="!readonly">
  <button class="btn btn-primary" (click)="cancel()">Cancel</button>
  <button class="btn btn-primary" (click)="save()">Save</button>
</div>
