<div *ngIf="showSigned">
  <div *ngIf="worker.boatIds.includes(boatId)">
    <div class="panel panel-default">
      <div class="panel-body">
        {{ worker.name }}
      </div>
      <div class="panel-footer">
        <a (click)="unsign()">un-sign</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!showSigned">
  <div *ngIf="!worker.boatIds.includes(boatId)">
    <div class="panel panel-default">
      <div class="panel-body">
        {{ worker.name }}
      </div>
      <div class="panel-footer">
        <a (click)="sign()">sign he/she to this boat</a>
      </div>
    </div>
  </div>
</div>
