<h1>Welcome to Dockyard</h1>
<h4>The SPA will have the following features:</h4>
<ul class="list-group">
  <li class="list-group-item">A page that lists all boats</li>
  <li class="list-group-item">Clicking a boat in above list will show a page having all available details about a specific boat, including the names of the workers who are working on that boat</li>
  <li class="list-group-item">UI to do CRUD operations on the boat data set</li>
  <li class="list-group-item">UI to assign / un-assign workers to boats - there is no need to build a CRUD UI for the workers data set.</li>
</ul>
